.navbar {
  background: rgb(241 254 255);
  display: flex;
  align-items: center;

  &-brand {
    font-size: 30px;
  }

  .nav-link {
    color: #5ca6db;
  }

  .dropdown-menu {
    background: #88a9c0;

  }

  .dropdown-item {
    &:hover {
      background: #6198c0;
    }
  }
}